<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawWords.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A57CE351C52241400C4A01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A57CE491C52241400C4A01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A57CE541C52241400C4A01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
